<%- include('../includes/static/head.ejs'); %>
<%- include('../includes/shop/navbar.ejs'); %>

<h1 style="text-align: center;margin:15px 0;"><%= pro.name %> Details </h1>
<div class="productDetailsContainer">
    <img src="/images/Apple_labtop.jpg" width="240px" height="260px"/>
    <div>
        <h3>Price : <strong><%= pro.price %> </strong></h3>
        <h4>Description</h4>
        <p><%= pro.description %> </p>
    </div>
</div>

<%- include('../includes/static/footer.ejs'); %>