<div class="navbar">
    <ul>
        <li>
            <a class="<%= path == '/'?'active':'' %> " href="/">Home</a>
        </li>
        <li>
            <a class="<%= path == 'products'?'active':'' %> " href="/products">Products</a>
        </li>
        <li>
            <a class="<%= path == 'about'?'active':'' %> " href="/about">About</a>
        </li>
        <li>
            <a class="<%= path == 'orders'?'active':'' %> " href="/orders">Orders!</a>
        </li>
        <li>
            <a class="<%= path == 'cart'?'active':'' %> " href="/cart">Cart</a>
        </li>
    </ul>
</div>